*{
  box-sizing: border-box;
  font-family: 'Mulish  ', sans-serif !important;
}
body{
  margin:0;
  background:#F7F7F7;
}

button{
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  display:flex;
  align-items:center;
  justify-content:center;
}
